### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### Spring Boot ###
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/springboot/target/
/springboot/*.sql

### React ###

# dependencies
/react/node_modules

# production
/react/build

# misc
.env.local